.register {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    background: url("https://alvarotrigo.com/blog/assets/imgs/2022-01-17/best-hotel-website-designs-examples.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.lContainer_r {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 15vh;
    padding: 2px 30px 20px 30px;
    border-style: solid;
    border-color: #1C1208;


}


.lInput_r {
    height: 30px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.lButton_r {
    border: none;
    padding: 10px 20px;
    background-color: #BFB496;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.lButton:disabled {
    background-color: white;
    cursor: not-allowed;
}

.lContainer_r h1 {
    color: white;
    text-align: center;
}

.check_register {
    display: flex;

    color: red;
    justify-content: space-between;
}

.check_register>span {
    font-size: 10px;
}