.invoice_infor hr {
    border: 1px dotted;
    border-style: none none dotted;
}

.invoice {
    background-color: #555;
    display: flex;
    justify-content: center;

}

.invoice_form {
    background-color: white;
    width: 100vh;
    height: 155vh;
    margin: 2vh 0vh 2vh 0vh;
    border: 2px;
    border-color: black;
    border-radius: 20px;
    border-style: solid;
    padding: 0px 0px 0px 5vh;
}

.invoice_form img {
    text-align: end;
    height: 20vh;
    width: 30vh;
    margin-left: 70%;
    margin-top: 10px;

}

.invoice_logo span {
    text-align: end;
    margin-left: 77%;
    color: #B1854C;
    font-weight: 900;
    font-size: 20px;

}

.invoice_phone {
    text-align: end;
    margin: 10px 5vh 0px 0px;
    display: flex;
    justify-content: end;
}

.invoice_phone h1 {
    margin-right: 5px;
    font-size: 14px;
}

.invoice_phone span {
    font-size: 12px;
    margin-top: 2px;
}

.invoice_address h1 {
    font-size: 14px;
}

.invoice_address h2 {
    font-size: 14px;
    font-weight: 200;
}

.invoice_address {
    margin-bottom: 5vh;
}

.invoice_code {
    display: flex;
}

.invoice_code h1 {
    font-size: 14px;
    margin-right: 10px;
}

.invoice_code span {
    text-align: end;
    font-size: 14px;
    font-weight: 200;

}

.invoice_infor h1 {

    text-align: center;
    font-size: 25px;
    margin: 10px 0px 10px 0px;
}

.invoice_custome {
    border: #555;
    margin-right: 8vh;
    border-style: solid;
    padding: 10px 20px 10px 20px;
}

.invoice_custome_label {
    padding: 5px;
    border-radius: 0.1px;
    border-bottom: none;
    border-style: solid;
    text-align: center;
    background-color: #F2F2F2;
    margin-right: 8vh;
}

.profile_infor_1 {
    display: flex;
    justify-content: space-between;
    margin: 5px 100px 5px 50px;
    font-size: 12px;

}

.profile_infor_1 div {
    display: flex;

}

.profile_infor_1 h2 {
    font-size: 16px;
    font-weight: 600;
}

.profile_infor_1 span {
    font-size: 14px;
    margin: 2px 0px 0px 5px;

}

.invoice_detail {
    display: flex;
    margin-right: 8vh;
    justify-content: start;
    margin-top: 20px;
}

.invoice_infor_detail {
    width: 100vh;

}

.label_infor_detail {
    border: 2px;
    border-style: solid;
    text-align: center;
    background-color: #F1F1F1;
    padding: 10px;
}

.invoice_infor_total {
    width: 30vh;
}

.invoice_infor_hotel {
    border: 2px;
    border-top: 0px;
    border-bottom: 0px;
    border-style: solid;
    padding-left: 20px;
}

.label_infor_total {

    border: 2px;
    border-left: 0px;
    border-style: solid;
    text-align: center;
    background-color: #F1F1F1;
    padding: 10px;
}

.label_infor_total_1 {
    border: 2px;
    border-style: solid;
    border-left: 0px;
    border-top: 0px;
    text-align: end;
    padding: 10px;
    height: 220px;
}

.label_infor_total_1 div {
    height: 90%;

}

.label_infor_total_1 span {
    color: red;
    font-weight: 700;
}

.Ky {
    margin-top: 40px;
}

.invoice_form h3 {
    text-align: center;
    font-size: 12px;
    font-weight: 400;

}

.alter_bill_a {
    border: 2px;
    border-color: black;
    border-style: solid;
    height: 20px;
    background-color: #ED4922;
    padding: 10px;
    position: fixed;
    ;
    width: 30vh;
    height: 10vh;
    margin-right: 60%;
    margin-top: 15px;
    text-align: center;
    border-radius: 10px;
}

.alter_bill_a h1 {
    font-size: 15px;
    margin-bottom: 3px;
}

.alter_bill_a div {
    display: block;
    font-size: 12px;
}

.alter_bill_a button {
    margin-top: 10px;
    width: 20vh;
    height: 5vh;
    border: 2px;
    border-radius: 2px;
}