.profile_menu_
{
    cursor: pointer;
    font-size: 12px;
    margin: 10px 0px 10px 0px;
}
.profile_menu_active
{
   font-weight: 1000;
   font-size: 14px;
   margin: 10px 0px 10px 0px;
}
.profile
{
    display: flex;
}
.profile_
{

   margin: 3vh 1vh 2vh 40vh;
   border: 2px;
   border-style: solid;
   border-radius: 5px;
   border-color: #EFEFEF;
   
}
.profile_ label
{
    text-align: center;
    margin-left: 20px;
    font-size: 4vh;
    top: 0;
    font-weight: 200;
}
.profile_icon
{
    display: flex;
   justify-self: start;
   margin: 3vh 2vh 1vh 5vh;
}
.profile_barcode
{
    text-align: center;
}
.profile_sdt
{
    display: flex;
    justify-content: space-between;
    margin-left: 4vh;
    margin-right: 4vh;
}
.profile_sdt div
{
    display: flex;
}
.profile_sdt div h2
{
    margin-top: 3px;
    font-size: 10px;
    margin-left: 2px;
}
.profile_sdt div h1
{
    font-size: 12px;
}
.profile_rank
{
    margin: 0vh 2vh 0vh 2vh;
    border: none;
    border-style: solid;
    border-radius: 5px;
    background: url("https://alvarotrigo.com/blog/assets/imgs/2022-01-17/best-hotel-website-designs-examples.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 19vh;
    padding:20px;
    color: white;
    margin-bottom: 2vh;
}
.profile_rank div
{
    display: flex;
    justify-content: space-between;
    font-size: 10px;
}
.profile_rank  hr
{
    margin: 20px 0px 20px 0px;
    border: none;
    height: 2px;
    background-color: #D9BF9D;
}
.profile_more_infor
{
    margin-top: 7vh;
    
    cursor: pointer;
    height: 20px;
    width: 29vh;
    padding: 1vh 0vh 1vh 0vh;
}
.profile_menu
{
    margin: 0vh 1vh 20vh 45vh;
    
}
.profile_Footer
{
   margin-left: 30vh;
   margin-top: 20vh;
}